<?xml version="1.0"?>
    <config>
        <modules>
            <Ebate_MYCheckout>
                <version>0.1.0</version>
            </Ebate_MYCheckout>
        </modules>
        <frontend>
            <routers>
                <checkout>
                    <args>
                        <modules>
                            <Ebate_MYCheckout before="Mage_Checkout">Ebate_MYCheckout</Ebate_MYCheckout>
                        </modules>
                    </args>
                </checkout>
                <sdc>
                    <use>standard</use>
                    <args>
                        <module>Ebate_MYCheckout</module>
                        <frontName>sdc</frontName>
                    </args>
                </sdc>
            </routers>
            <layout>
                <updates>
                    <checkout>
                        <file>sdc.xml</file>
                    </checkout>
                </updates>
            </layout>
        </frontend>
        <admin>
            <routers>
                <sdc>
                    <use>admin</use>
                    <args>
                        <module>Ebate_MYCheckout</module>
                        <frontName>sdc</frontName>
                    </args>
                </sdc>
            </routers>
        </admin>
        <adminhtml>
            <acl>
                <resources>
                    <all>
                        <title>Allow Everything</title>
                    </all>
                    <admin>
                        <children>
                            <sdc>
                                <title>MY Checkout Module</title>
                                <sort_order>200</sort_order>
                            </sdc>
                        </children>
                    </admin>
                </resources>
            </acl>
            <layout>
                <updates>
                    <sdc>
                        <file>sdc.xml</file>
                    </sdc>
                </updates>
            </layout>
        </adminhtml>
        <global>
            <rewrite>
                <ebate_sdc_checkout_cart>
                    <from><![CDATA[#^/checkout/cart/#]]></from>
                    <to><![CDATA[sdc/checkout_cart/$1]]></to>
                </ebate_sdc_checkout_cart>
            </rewrite>
            <rewrite>
                <ebate_sdc_checkout_onepage>
                    <from><![CDATA[#^/checkout/onepage/#]]></from>
                    <to><![CDATA[sdc/checkout_onepage/$1]]></to>
                </ebate_sdc_checkout_onepage>
            </rewrite>
            <models>
                <checkout>
                    <rewrite>
                        <type_onepage>Ebate_MYCheckout_Model_Onepage</type_onepage>
                    </rewrite>
                </checkout>
                <sdc>
                    <class>Ebate_MYCheckout_Model</class>
                    <resourceModel>sdc_mysql4</resourceModel>
                </sdc>
            </models>
            <resources>
                <sdc_setup>
                    <setup>
                        <module>Ebate_MYCheckout</module>
                    </setup>
                    <connection>
                        <use>core_setup</use>
                    </connection>
                </sdc_setup>
                <sdc_write>
                    <connection>
                        <use>core_write</use>
                    </connection>
                </sdc_write>
                <sdc_read>
                    <connection>
                        <use>core_read</use>
                    </connection>
                </sdc_read>
            </resources>
            <blocks>
                <sdc>
                    <class>Ebate_MYCheckout_Block</class>
                </sdc>
                <checkout>
                    <rewrite>
                        <cart>Ebate_MYCheckout_Block_Cart</cart>
                        <onepage_payment_methods>Ebate_MYCheckout_Block_Methods</onepage_payment_methods>
                    </rewrite>
                </checkout>
            </blocks>
            <helpers>
                <sdc>
                    <class>Ebate_MYCheckout_Helper</class>
                </sdc>
            </helpers>
        </global>
    </config>