<?xml version="1.0"?>
<config>
    <modules> 
        <Ebate_Parser>
            <version>0.1.0</version>
        </Ebate_Parser>
    </modules>
    <frontend>
        <routers>
            <parser>
                <use>standard</use>
                <args>
                    <module>Ebate_Parser</module>
                    <frontName>parser</frontName>
                </args>
            </parser>
        </routers>
        <layout>
            <updates>
                <parser>
                    <file>parser.xml</file>
                </parser>
            </updates>
        </layout>
    </frontend>
    <admin>
        <routers>
            <parser>
                <use>admin</use>
                <args>
                    <module>Ebate_Parser</module>
                    <frontName>parser</frontName>
                </args>
            </parser>
        </routers>
    </admin>
    <adminhtml>
        <menu>
          <parsers module="parser">  
            <title>Partner parsers</title>
            <sort_order>71</sort_order>
            <children>
                    <parser_offers module="parser">
                        <title>Parser offers</title>
                        <sort_order>0</sort_order>
                        <action>parser/adminhtml_offers</action>
                    </parser_offers>
                    <parser_orders module="parser">
                        <title>Parser orders</title>
                        <sort_order>0</sort_order>
                        <action>parser/adminhtml_orders</action>
                    </parser_orders>
            </children>
           </parsers> 
        </menu>
        <acl>
            <resources>
                <all>
                    <title>Allow Everything</title>
                </all>
                <admin>
                    <children>
                        <parser_offers>
                            <title>Parser offers</title>
                            <sort_order>100</sort_order>
                            <children>
                                <items translate="title">
                                    <title>Manage Parser offers</title>
                                    <sort_order>10</sort_order>
                                </items>
                            </children>
                        </parser_offers>
                        <parser_orders>
                            <title>Parser orders</title>
                            <sort_order>100</sort_order>
                            <children>
                                <items translate="title">
                                    <title>Manage Parser orders</title>
                                    <sort_order>10</sort_order>
                                </items>
                            </children>
                        </parser_orders>
                    </children>
                </admin>  
            </resources>   
        </acl>
        <layout>
            <updates>
                <parser>
                    <file>parser.xml</file>
                </parser>
            </updates>
        </layout>
        <translate>
            <modules>
                <Ebate_Parser>
                    <files>
                        <default>Parser.csv</default>
                    </files>
                </Ebate_Parser>
            </modules>
        </translate>
    </adminhtml>   
    <global>
        <blocks>
            <parser>
                <class>Ebate_Parser_Block</class>
            </parser>
        </blocks>
        <helpers>
            <parser>
                <class>Ebate_Parser_Helper</class>
            </parser>
        </helpers>
    </global>
</config>
