<?xml version="1.0"?>
<config>
    <modules>
        <Ebate_Free>
            <version>0.1.0</version>
        </Ebate_Free>
    </modules>
    <frontend>
        <secure_url>
            <free>/free/</free>
        </secure_url>
        <routers>
            <free>
                <use>standard</use>
                <args>
                    <module>Ebate_Free</module>
                    <frontName>free</frontName>
                </args>
            </free>
        </routers>
        <layout>
            <updates>
                <free>
                    <file>free.xml</file>
                </free>
            </updates>
        </layout>
    </frontend>
 
    <global>
        <blocks>
            <free>
                <class>Ebate_Free_Block</class>
            </free>
        </blocks>
 
        <models>
            <free>
                <class>Ebate_Free_Model</class>
            </free>
        </models>
        <helpers>
            <free>
                <class>Ebate_Free_Helper</class>
            </free>
        </helpers>
 
        <resources>
            <free_setup>
                <setup>
                    <module>Ebate_Free</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </free_setup>
            <free_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </free_write>
            <free_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </free_read>
        </resources>
        <events>
            <sales_order_place_after>
                <observers>
                    <free>
                        <class>free/observer</class>
                        <method>processOrderPlace</method>
                    </free>
                </observers>
            </sales_order_place_after>
        </events>
    </global>
 
    <default>
        <payment>
            <sdfree>
                <active>0</active>
                <model>free/free</model>
                <order_status>pending</order_status>
                <title>Free payment</title>
            </sdfree>
        </payment>
    </default>
</config>